h1, h2 {
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 0.25rem;
}

#board {
    box-shadow: #000000 3px 3px 10px;
}

.card {
    padding: 1rem;
    transition-duration: 0.5s;
}

.info-card {
    box-shadow: #6edff6 3px 3px 10px;
}

.info-card:hover {
    transform: scale(1.05);
}

#temperatures:hover, img:hover {
    transform: scale(1.02);
}

img {
    border: 1px solid #010101;
    border-radius: 3%;
    transition-duration: 0.5s;
}